

body{
    margin: 0;
    font-family: "Roboto",sans-serif;
    color: rgba(33, 33, 33, 1);
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1,h2,h3,ul,p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.section{
    padding: 94px 0;
}
/* Верхняя линия */

.header{
    border-bottom:  1px solid #ECECEC;
}

.logo{
    padding-top: 24px;
    padding-bottom: 25px;
   text-decoration: none;
   font-family: "Raleway",sans-serif ;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: #2196F3
}

.logo-style{
    color: #000;
}

.header-cont{
    display: flex;
    align-items: center;
}

.header-nav{
    margin-left: 93px;
}

.nav-list{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 50px;
}

.list-dek{
    list-style: none;
}

.link-dek{
    text-decoration: none;
}

.nav-link{
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: #212121;
   }

.nav-link:hover{
    color: #2196F3;
}

.current-link{
    color: #2196F3;
}

.header-list{
    display: flex;
    margin-left: auto;
}

.list-item:not(:last-child){
    margin-right: 50px;
}

.link-icon{
  fill: #757575;
  margin-right: 10px;  
}

.list-link:hover .link-icon{
    fill: #2196F3;
}
.list-link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(117, 117, 117, 1);
}
.list-link:hover{
    color: rgba(33, 150, 243, 1)
}

/* Шапка */

.section-main{
    background-color: rgba(196, 196, 196, 1);
    padding: 200px 0;
    text-align: center;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/background/background-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}


.slogan{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 1);
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    border: 0px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover{
    background-color:rgba(24, 140, 232, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Особенности */

.icon-thumb{
    display: flex;
    background-color:  #F5F4FA;;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.desc-list{
    display: flex;
}

.sectiion-desc{
    padding-bottom: 0;
}

.desc-item:not(:last-child){
   margin-right: 30px; 
}
.item-subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subtitle-lead{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Чем мы занимаемся */

.list-info{
    display: flex;
    justify-content: center;
}

.img-info:not(:last-child){
    margin-right: 30px;
}

.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}

/* Наша команда */

img{
    display: block;
}

.team-list{
    display: flex;
    align-items: center;
}

.list-author{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.autohor-item{
    text-align: center;
    padding: 30px 5px;
    border-radius: 0px 0px 4px 4px;
}

.list-author:not(:last-child){
    margin-right: 30px;
}

.sektion-team{
    background-color: rgba(245, 244, 250, 1) ;
}

.author-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.author-skills{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.team-link{
    display: flex;
    justify-content: center;
}

.social-link{
    display: flex;
    background-color: #FFFFFF;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.link-socials:not(:last-child){
   margin-right: 10px; 
}

.socials-icon{
    margin: 12px;
    fill: #AFB1B8;
}

.social-link:hover,
.social-link:focus{
    background-color: #2196F3;
}

.social-link:hover .socials-icon,
.social-link:focus .socials-icon{
    fill: #FFFFFF;
}

/* Постоянные клиенты */

.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
}

.clients-item:not(:last-child){
    margin-right: 30px;
}

.clients-icon{
    fill:#AFB1B8 ;
}

.clients-link:hover,
.clients-link:focus{
    border-color: #2196F3;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: #2196F3;
}


/* Портфолио */

.portfolio-button{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    padding-left: 0;
}

.button-list:not(:last-child){
    margin-right: 8px;
}

.button-item{
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
    background: rgb(245,244,250);
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;
}

.button-item:hover,
.button-item:active{
    color: rgb(245,244,250);
   background:rgba(33, 150, 243, 1);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-img{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-img li{
    margin: 15px;
}

.img-item{
    padding: 20px 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.img-list:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.img-subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.img-desc{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}
/* Подвал */

.footer{
    padding: 60px 0;
    background-color: rgb(47,48,58);   
}

.logo-footer{
    text-decoration: none;
    font-family: "Raleway",sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: #2196F3
}

.logo-color{
    color: #FFFFFF;
}

.adress{
    font-style: normal;
}

.footer-adress{
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    letter-spacing: 0.03em;
}

.footer-link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover{
    color: rgba(33, 150, 243, 1)
}

.footer-list li:not(:last-child){
    margin-bottom: 9px;
}

.footer-subtitle{
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 20px;
   margin-top: 12px;
}

.footer-social-list{
    display: flex;
}

.footer-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.footer-social-item:not(:last-child){
   margin-right: 10px; 
}

.footer-social-icon{
    fill: #FFFFFF;
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #2196F3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon{
    fill: #FFFFFF;
} 

.footer-container{
    display: flex;
}

.footer-social:not(:last-child){
    margin-right: 70px;
}